/*свг и анимация*/
.loader {
    width: 108px;
    height: 108px;
    background-image: url('/src/s2-homeworks/hw10/images/Loading.png'); /* Путь к изображению */
    animation: rotate 1s linear infinite; /* rotate - название анимации, 2s - продолжительность, linear - тип анимации, infinite - бесконечное выполнение */
    background-size: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg); /* Начальное состояние, 0 градусов */
    }
    to {
        transform: rotate(360deg); /* Конечное состояние, 360 градусов */
    }
}

/*CSS анимация*/
/*.loader {*/
/*    width: 108px;*/
/*    aspect-ratio: 1; !*соотношение сторон, т.е. можно задать только ширину*!*/
/*    border-radius: 50%;*/
/*    background:*/
/*            radial-gradient(farthest-side,#512DE4 94%,#0000) top/8px 8px no-repeat,*/
/*            conic-gradient(#0000 30%,#512DE4);*/
/*    -webkit-mask:*/
/*            radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);*/
/*    animation: s3 1s infinite linear;*/
/*}*/

/*@keyframes s3{*/
/*    100%{transform: rotate(1turn)}*/
/*}*/