.input:focus {

}

.input {
    border: 1px solid #06c;
    border-radius: 5px;
    width: 252px;
    height: 36px;
    padding: 10px;

}

.inputWrapper {
}

.superInput {
}

.errorInput {

}

.errorInput:focus {
}

.error {
    color:red
}
