.input:focus {

}

.input {
    border: 1px solid #06c;
    border-radius: 5px;
    width: 252px;
    height: 36px;
    padding: 10px;

}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border-color: red;
}

.errorInput:focus {
}

.error {
    position: absolute;
    top: 71px;
    left: 0;
    color:red;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
