.radio {
    margin: 10px;
}

.radio::before {

}


.radio:checked::before {

}

.label {

}

.options {
    display: flex;
    flex-direction: column;
    padding-left: 125px;
}

.span {
    padding: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}
