.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
}

.error {
}

.input {
    width: 100px;

}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
